* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  text-align: center;
}

table {
  margin: auto;
}

input {
  font-size: 34px;
  height: 65px;
  width: 283px;
  border: none;
  margin-bottom: 10px;
}

button {
  font-size: 24px;
  background: hsl(0, 0%, 100%);
  width: 60px;
  height: 50px;
  margin: 6px;
  border: none;
}

.container__calculator {
  padding: 25px;
  position: absolute;
  display: inline-block;
  height: 73vh;
  top: 13%;
  left: 36%;
  background-color: hsl(39, 90%, 49%);
}

h1 {
  font-size: 28px;
  font-family: "Courier New", Courier, monospace;
}

.container__image img {
  width: 100vw;
  height: 100vh;
  position: relative;
  border-radius: 1rem;
  opacity: 0.8;
}
